{{define "head"}}
<title>Geila test</title>
{{end}}

{{define "content"}}
<div class="jumbotron">
	<div class="container">
		<h1>Es ist deine Stadt!</h1>
		<p>Entscheide, wie du deine Stadt errichten möchtest. Alles ist dir überlassen.</p>
		<p><a class="btn btn-primary btn-lg" role="button">Melde dich jetzt kostenlos an &raquo;</a></p>
		<form role="form" method="post" action="/"><button type="submit" class="btn btn-danger">Test POST/PUT/...</button></form>
	</div>
</div>
{{end}}