body {
  padding-top: 46px;
  padding-bottom: 20px;
  background: #CCDFE6;
  margin-bottom: 60px;
}

.top-distance {
	margin-top: 50px;
}

.box {
	/*margin: 30px auto;*/
	background: #fafafa;
	padding: 15px 15px;
	border: 1px solid #cfcfcf;
}

@media (min-width: 992px) {
	.modal-lg {
	    width: 900px;
	}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #1F2123;
}

.footer > .container {
	padding: 20px 15px 0px 15px;
}

.footer > .container > .text-muted > a {
	color: #918E31;
}